#textdomain wesnoth-units
[unit_type]
    [base_unit]
		id=Orcish Ruler
    [/base_unit]
    id=ROLOrcish Ruler
	hitpoints=50
	cost=34
    advances_to=ROLOrcish Sovereign

    [attack]
        name=greatsword
        description=_"greatsword"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=crossbow
        description=_"crossbow"
        icon=attacks/crossbow-orcish.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
[/unit_type]
