#textdomain wesnoth-units
[unit_type]
    id=ROLMillennial Wose
    name= _ "Millennial Wose"
    race=wose
    image="units/woses/wose-millenial.png"
    image_icon="units/woses/wose-millenial.png~CROP(11,9,72,72)"
    profile="portraits/elementals/ancient.png"
    small_profile="portraits/elementals/ancient.png{PATHWAYSIZE}"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=110
    movement_type=treefolk
    movement=4
    experience=150
    level=5
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    description= _ "Millennial: That which exists for a thousand years. These Woses, these most ancient of woses, these which have existed a thousand years, These which defy nature in their colossal height and can look like nothing more than a large tree, These which with thunderous crashes and mighty blows can destroy encampments and castle walls, these are the Millennial Woses."+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}+{SPECIAL_NOTES_REGENERATES}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elementals/ancient.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elementals/ancient.png"
    [/portrait]
    usage=fighter
    die_sound=wose-die.ogg
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_REGENERATES}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/woses/wose-ancient-die-fall-[1~15].png:100"
        [/frame]
    [/death]
    [attack]
        name=crush
        description=_"crush"
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=36
        number=2
    [/attack]
    {DEFENSE_ANIM "units/woses/wose-millenial-attack-2.png" "units/woses/wose-millenial.png" wose-hit.ogg }
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        start_time=-500
        {SOUND:HIT_AND_MISS wose-attack.ogg wose-miss.ogg -500}
        [frame]
            image="units/woses/wose-millenial-attack-[1,2,1].png:[400,200,100]"
        [/frame]
    [/attack_anim]
[/unit_type]
