#textdomain wesnoth-ROTL

#[textdomain]
 #   name="wesnoth-ROTL"
 #   path="data/add-ons/Reign_of_the_Lords/translations"
#[/textdomain]

[binary_path]
	  path=data/add-ons/Reign_of_the_Lords/
[/binary_path]

[binary_path]
	  path=data/add-ons/Reign_of_the_Lords_Portraits/
[/binary_path]

# defined here so it loads for all the utils
#define BASE_UNIT OLD_UNIT ADVANCES_TO EXPERIENCE EXTRA
[unit_type]
	# adjust the ID so it is different
    id=ROL{OLD_UNIT}
	# load the base unit
    [base_unit]
        id={OLD_UNIT}
    [/base_unit]
	# change the unit's advancement
    advances_to={ADVANCES_TO}
	
	# apply modifications if necessary:
    experience={EXPERIENCE}

	{EXTRA}
[/unit_type]
#enddef

	# new version that is being implemented ALWAYS LOAD UNITS
	# the units will only be used, however, if the modification is clicked
	
	#ifver WESNOTH_VERSION >= 1.13.0
		{~add-ons/Reign_of_the_Lords/defines1-13.cfg}
	#else
		{~add-ons/Reign_of_the_Lords/defines1-12.cfg}	
	#endif

	{~add-ons/Reign_of_the_Lords/macros/}
    {~add-ons/Reign_of_the_Lords/utils/}

    [+units]
   	    {~add-ons/Reign_of_the_Lords/units}
	    {~add-ons/Reign_of_the_Lords/units/base_units/}
	    {~add-ons/Reign_of_the_Lords/units/outlaws/}
	    {~add-ons/Reign_of_the_Lords/units/undead/}
	    {~add-ons/Reign_of_the_Lords/units/drakes/}
	    {~add-ons/Reign_of_the_Lords/units/orcs/}
	    {~add-ons/Reign_of_the_Lords/units/loyalists/}
	    {~add-ons/Reign_of_the_Lords/units/magi/}
	    {~add-ons/Reign_of_the_Lords/units/dwarves/}
	    {~add-ons/Reign_of_the_Lords/units/trolls/}
	    {~add-ons/Reign_of_the_Lords/units/elementals/}
	    {~add-ons/Reign_of_the_Lords/units/elves/}
		{~add-ons/Reign_of_the_Lords/units/saurians/}
	    {~add-ons/Reign_of_the_Lords/units/fake/}
   	    {~add-ons/Reign_of_the_Lords/units/other/}
		
		#ifver WESNOTH_VERSION >= 1.13.0
			{~add-ons/Reign_of_the_Lords/units/dunefolk/}
		#else
			{~add-ons/Reign_of_the_Lords/units/khalifate/}
		#endif
    [/units]

    [modification]
		id=ROLAdvancement_Modification
		name=_"Reign of the Lords Advancement Modification"
		require_modification=yes
		{MODIFICATION_STRING}
		description=_"This Modification allows the base wesnoth units to advance into the new added units from the Reign of The Lords era. This modification is recommended when playing the Reign of the Lords era, but also works for any other era with mainline units. This modification does not effect singleplayer in any way." 
		{REPLACEMENT_EVENTS}
    [/modification]
