#textdomain wesnoth-ROTL
[unit_type]
    id=ROLWhirlwind
    name= _ "Whirlwind"
    race=ROLelemental
    image="units/al-kamija-elementals/god-airPic.png"
    profile="portraits/elementals/wind.png"
    small_profile="portraits/elementals/wind.png{PATHWAYSIZE}"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=fly
    movement=8
    experience=170
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=80
    usage=scout
    description= _ "Men fear the wind — what can be a gentle zephyr in the afternoon can turn into a twister in the evening. Wind and storm can turn the staunchest man into a rag doll dancing in the sky; lightning will then shoot him down back to earth. The greatest of these storms are Whirlwinds and from them you have much more to fear. They ride upon the crest of their wind and bring about disasters everywhere they pass by. These elementals are virtually gods of the skies are nigh immune to physical assault with bodies that appear almost identical to an actual storm."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_ARCANE}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_REGENERATES}
        {ABILITY_IMMUNE_TO_SLOW}
    [/abilities]
    [resistance]
        blade=50
        pierce=50
        impact=50
        fire=100
        cold=100
        arcane=10
    [/resistance]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/al-kamija-elementals/god-air1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
    [/standing_anim]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/al-kamija-elementals/god-air1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
    [/defend]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/al-kamija-elementals/god-air1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
    [/defend]
    [attack]
        name=hurricane
        description=_"hurricane"
        icon=attacks/tornado.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=whirler
        description=_"whirlwind"
        icon=attacks/eyeofstorm.png
        type=impact
        range=ranged
        damage=15
        number=1
	[specials]
	    {WEAPON_SPECIAL_I8GRENADE (whirler)}
	[/specials]
    [/attack]
    [attack]
        name=small thunder
        description=_"thunder"
        icon=attacks/lightning-blue.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=13
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=whirler
        [/filter_attack]
	hits=yes
        [missile_frame]
	    halo="halo/ring0000.png:50,halo/ring000.png:50,halo/ring00.png:50,halo/ring0.png:50,halo/ring1.png:30,halo/ring3.png:20,halo/ring5.png:20,halo/ring7.png:40,halo/ring6.png:30,halo/ring2.png:40,halo/ring00.png:40,halo/ring000.png:40"
        [/missile_frame]
        [frame]
            begin=-400
            end=-350
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/al-kamija-elementals/god-air-attack-staff-2.png"
            #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
            #halo_x,halo_y=6,-19
        [/frame]
            [frame]
                begin=-200
                end=0
                image="units/al-kamija-elementals/god-air-attack-staff-2.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [frame]
            begin=0
            end=50
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/al-kamija-elementals/god-air1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=whirler
        [/filter_attack]
	hits=no
	[missile_frame]
            image="misc/blank-hex.png:1"
        [/missile_frame]
        [frame]
            begin=-400
            end=-350
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/al-kamija-elementals/god-air-attack-staff-2.png"
            #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
            #halo_x,halo_y=6,-19
        [/frame]
            [frame]
                begin=-200
                end=0
                image="units/al-kamija-elementals/god-air-attack-staff-1.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [frame]
            begin=0
            end=50
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hurricane
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/al-kamija-elementals/god-air-attack-staff-2.png"
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/al-kamija-elementals/god-air1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hurricane
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/al-kamija-elementals/god-air3.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/al-kamija-elementals/god-air-attack-staff-2.png"
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/al-kamija-elementals/god-air2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=small thunder
        [/filter_attack]
	hit=yes
        [missile_frame]
            begin=-200
            end=0
            image="halo/magicgreat-n-1.png"
            image_diagonal="halo/magicgreat-ne-1.png"
            #halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
            #halo_x,halo_y=7,-17
        [/missile_frame]
        [frame]
            begin=-400
            end=-350
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/al-kamija-elementals/god-air-attack-staff-2.png"
            #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
            #halo_x,halo_y=6,-19
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/al-kamija-elementals/god-air-attack-staff-1.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/al-kamija-elementals/god-air-attack-staff-2.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/al-kamija-elementals/god-air-attack-staff-1.png"
        [/frame]
    [/attack_anim]
    
    {SLOWIMMUNITY_EVENTS}
[/unit_type]
