#textdomain wesnoth-ROTL
[unit_type]
    id=ROLDwarvish Arbalestier
    name= _ "Dwarvish Arbalestier"
    race=dwarf
    image="units/dwarves/arbalestier.png"
    profile="portraits/dwarves/arbalestier.png"
    small_profile="portraits/dwarves/arbalestier.png{PATHWAYSIZE}"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=dwarvishfoot
    movement=4
    experience=220
    level=3
    alignment=neutral
    advances_to=ROLDwarvish Barrager
    undead_variation=dwarf
    cost=49
    usage=archer
    description= _ "The dwarven engineers have an obsession to tinker with their gadgets incessantly with the goal to acquire perfection. Whether that hobby starts as the past time of a rogue dwarf who robs for a living, or not, is yet to be told. In either case, the mastery of such designs earns these craftsmen high presitge among the dwarven community. The dwarven arbalest is one of the finest weapons ever created; beautifully crafted for the sole intention of devastating shots, and these marksmen can be seen high above the Dwarven gates defending their citadels."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM_RANGE "units/dwarves/arbalestier.png" "units/dwarves/arbalestier.png" {SOUND_LIST:DWARF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/dwarves/arbalestier.png" "units/dwarves/arbalestier.png" {SOUND_LIST:DWARF_HIT} ranged}
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/arbalestier.png"
    [/portrait]
    [attack]
        name=dagger
        description="dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=crossbow
        description="bow caster"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/dwarves/arbalestier.png"
                sound=crossbow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/dwarves/arbalestier.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]

        start_time=-250
        offset=0.0~0.1:200,0.1~0.6:200,0.6~0.0:250
        [frame]
            duration=50
            image="units/dwarves/arbalestier.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/arbalestier.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/arbalestier.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/dwarves/arbalestier.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/dwarves/arbalestier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/dwarves/arbalestier.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/arbalestier.png"
        [/frame]
    [/attack_anim]
[/unit_type]
