#textdomain wesnoth-units
[unit_type]
    id=ROLDune Challenger
    name= _ "Dune Challenger"
    race=dunefolk
    image="units/khalifate/challenger.png"
    small_profile="portraits/khalifate/archer.png{PATHWAYSIZE}"
    profile="portraits/khalifate/archer.png"
    hitpoints=84
    movement_type=khalifatefoot
    movement=6
    experience=200
    level=5
    alignment=liminal
    advances_to=null
    {AMLA_DEFAULT}
    cost=77
    usage=mixed fighter
    description= _ "Fast warriors, powerful in melee and in range, masters of all weapons and skilled at all modes of combat. Challengers are the heroes of the desert people, the champions of their armies. They bring strength and speed, fury and intelligence together to form a formidable attack that few can resist."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/challenger.png" "units/khalifate/challenger.png" {SOUND_LIST:HUMAN_HIT} }
	[defense]
        sand=60
    [/defense]
    [attack]
        name=axe
        description= _ "axe"
        type=blade
        range=melee
        damage=17
        number=4
        icon=attacks/axe.png
    [/attack]
    [attack]
        name=composite bow
        description= _ "composite bow"
        type=pierce
        range=ranged
        damage=17
        number=4
        icon=attacks/bow-short-reinforced.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/challenger.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=composite bow
        [/filter_attack]

        start_time=-250
        missile_start_time=-150

        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]

        [frame]
            image="units/khalifate/challenger.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -225}
    [/attack_anim]
[/unit_type]
