#textdomain wesnoth-ROTL
[unit_type]
    id=ROLHigh Templar
    name= _ "High Templar"
    race=human
    image="units/human-loyalists/high-templar.png"
    small_profile="portraits/humans/warden_of_light.png{PATHWAYSIZE}"
    profile="portraits/humans/warden_of_light.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
#    halo=halo/illuminates-aura.png
    hitpoints=72
    movement_type=woodland
    movement=5
    experience=240
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=27
    usage=healer
    description= _ "The path of the human swordsman is as diverse as the path of a magi. Some choose to become mighty warriors, some choose to become generals and commanders of the army. Some choose to become masters of magic. The High Templar is a true master of magic, wielding a deadly arcane sword, striking opponents down with lightning and healing its allys with its presence. Every truly powerful loyalist army has such soldiers, and through divine power they bring victory."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-loyalists/high-templar-defend.png" "units/human-loyalists/high-templar.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="right"
        mirror="false"
        image="portraits/humans/warden_of_light.png"
    [/portrait]
    [resistance]
        blade=80
        impact=80
        arcane=50
    [/resistance]
    [abilities]
#        {ABILITY_ILLUMINATES}
         {ABILITY_EXTRA_HEAL}
#        {ABILITY_CURES}
    [/abilities]
	
	# not quite as good as normal woodland movement but still good
	[movement_costs]
		shallow_water=3
		reef=2
		swamp_water=2
		flat=1
		sand=2
		forest=2
		hills=2
		mountains=3
		village=1
		castle=1
		cave=3
		frozen=2
		fungus=2
	[/movement_costs]
	[defense]
		shallow_water=80
		reef=70
		swamp_water=70
		flat=60
		sand=70
		forest=50
		hills=50
		mountains=40
		village=40
		castle=40
		cave=70
		frozen=70
		fungus=60
	[/defense]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-holy.png
        type=arcane
        range=melee
        damage=10
        number=5
    [/attack]
    [attack]
		name=divine lightning
        description=_"divine lightning"
		type=arcane
        range=ranged
        icon=attacks/divine-lightning.png
		[specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=17
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/human-loyalists/high-templar.png"
            offset=0.0~0.1
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/human-loyalists/high-templar.png"
            offset=0.1~0.15
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-loyalists/high-templar.png"
            offset=0.15~0.35
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=-25
                image="units/human-loyalists/high-templar.png"
                sound={SOUND_LIST:SWORD_SWISH}
                offset=0.35~0.45
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=-25
                image="units/human-loyalists/high-templar.png"
                sound={SOUND_LIST:MISS}
                offset=0.35~0.45
            [/frame]
        [/else]
        [frame]
            begin=-25
            end=75
            image="units/human-loyalists/high-templar.png"
            offset=0.45~0.5
        [/frame]
        [frame]
            begin=75
            end=95
            image="units/human-loyalists/high-templar.png"
            offset=0.5
        [/frame]
        [frame]
            begin=95
            end=125
            image="units/human-loyalists/high-templar.png"
            offset=0.5~0.4
        [/frame]
        [frame]
            begin=125
            end=200
            image="units/human-loyalists/high-templar.png"
            offset=0.4~0.2
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/human-loyalists/high-templar.png"
            offset=0.2~0.0
        [/frame]
    [/attack_anim]
#define CRUSADER_LIGHTNING DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=divine lightning
        [/filter_attack]

        {DIVINE_LIGHTNING {DIRECTION_NUMBER} }

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image="units/human-loyalists/high-templar-magic.png"
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image="units/human-loyalists/high-templar-magic.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/human-loyalists/high-templar-magic.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/human-loyalists/high-templar-magic.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-loyalists/high-templar-magic.png"
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-loyalists/high-templar.png"
        [/frame]
    [/attack_anim]
#enddef

    {CRUSADER_LIGHTNING 1}
    {CRUSADER_LIGHTNING 2}
    {CRUSADER_LIGHTNING 3}
[/unit_type]
