#textdomain wesnoth-units
[unit_type]
	id=ROLGrand Warlock
	name= _ "Grand Warlock"
	race=human
	image="units/human-outlaws/nordhris/warlock.png"
	profile="portraits/outlaws/witch-doctor.png"
	small_profile="portraits/outlaws/witch-doctor.png{PATHWAYSIZE}"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=57
	movement_type=smallfoot
	movement=6
	experience=190
	gender=male,female
	level=4
	alignment=chaotic
	advances_to=null
	{AMLA_DEFAULT}
	cost=70
	usage=healer
	[movement_costs]
		swamp_water=2
	[/movement_costs]
	[defense]
		swamp_water=50
		forest=40
	[/defense]
	description=_"Over time what once was a pathetic, shunned spell caster grew into a venerable sorceress and formidable foe. "+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_HEALS}
	die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM "units/human-outlaws/nordhris/warlock.png" "units/human-outlaws/nordhris/warlock.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_CURES}
	[/abilities]
	[attack]
		name=dagger
		description= _"dagger"
		icon=attacks/dagger-poison.png
		type=blade
		range=melee
		damage=13
		number=1
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
	[/attack]
	[attack]
		name=wind
		description= _ "wind storm"
		icon=attacks/tornado.png
		type=cold
		range=ranged
		damage=12
		number=3
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
	[/attack]
	[attack]
		name=curse
		description= _ "curse"
		icon=attacks/aura-blast-greater.png
		type=arcane
		range=ranged
		damage=16
		number=2
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
			[damage]
				id=eviscerate
				name= _ "eviscerate"
				description= _ "This attack deals twice the damage to poisoned units."
				multiply=2
				[filter_opponent]
						[filter_wml]
							[status]
								poisoned="yes"
							[/status]
						[/filter_wml]            
				[/filter_opponent]
			[/damage]
		[/specials]
	[/attack]

	[attack_anim]
        [filter_attack]
            name=wind
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            halo=halo/desert-wind-[1~4].png:100
            halo_mod=~CS(-100,-50,120)~O(0.6)
            auto_vflip=no
        [/missile_frame]
        start_time=-300
        sound_start_time=-100
        [frame]
            duration=500
            image="units/human-outlaws/nordhris/warlock.png"
        [/frame]
        [sound_frame]
            sound=magic-faeriefire.ogg
        [/sound_frame]
    [/attack_anim]
	
	[attack_anim]
		[filter_attack]
			name=dagger
		[/filter_attack]
		[frame]
			begin=-150
			end=-100
			image="units/human-outlaws/nordhris/warlock.png"
		[/frame]
		[if]
			hits=no
			[frame]
				begin=-100
				end=100
				image="units/human-outlaws/nordhris/warlock.png"
  				sound={SOUND_LIST:MISS}
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
  				begin=-100
				end=100
				image="units/human-outlaws/nordhris/warlock.png"
				sound=dagger-swish.wav
			[/frame]

		[/else]
		{SOUND:POISON}
		[frame]
			begin=100
			end=150
			image="units/human-outlaws/nordhris/warlock.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        [if]
        hits=no
            [missile_frame]
                image="projectiles/shadow-blast-n-[1,2,1].png:[50*2,100]"
                image_diagonal="projectiles/shadow-blast-ne-[1,2,1].png:[50*2,100]"
                alpha=1.0~0.0:200
            [/missile_frame]
        [/if]
    [else]
        hits=yes
            [missile_frame]
                # image="projectiles/fireball-impact-[13~11].png~CROP(5,0,90,90):[50*2,100]"
                image="projectiles/shadow-blast-n-[1~3].png:[50*2,100]"
                image_diagonal="projectiles/shadow-blast-ne-[1~3].png:[50*2,100]"
            [/missile_frame]
    [/else]
	
        #missile_start_time=-200
        #[missile_frame]
        #    duration=400
        #    halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
        #[/missile_frame]
		
        start_time=-200
		[frame]
			image="units/human-outlaws/nordhris/warlock.png:200"
		[/frame]
		[frame]
			image="units/human-outlaws/nordhris/warlock.png:200"
			halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
 			sound=wail-sml.wav
		[/frame]
	[/attack_anim]
	
	[female]
        name= _ "female^Grand Witch"
		profile="portraits/outlaws/hag.png"
		small_profile="portraits/outlaws/hag.png{PATHWAYSIZE}"
		image="units/human-outlaws/grandwitch.png"
        gender=female
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
		
		profile="portraits/outlaws/arch-witch.png"
		small_profile="portraits/outlaws/arch-witch.png{PATHWAYSIZE}"
		
		{DEFENSE_ANIM "units/human-outlaws/grandwitch.png" "units/human-outlaws/grandwitch.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
			
		[attack_anim]
			[filter_attack]
				name=wind
			[/filter_attack]
			missile_start_time=-300
			[missile_frame]
				halo=halo/desert-wind-[1~4].png:100
				halo_mod=~CS(-100,-50,120)~O(0.6)
				auto_vflip=no
			[/missile_frame]
			start_time=-300
			sound_start_time=-100
			[frame]
				duration=500
				image="units/human-outlaws/grandwitch.png"
			[/frame]
			[sound_frame]
				sound=magic-faeriefire.ogg
			[/sound_frame]
		[/attack_anim]
		
		[attack_anim]
			[filter_attack]
				name=dagger
			[/filter_attack]
			[frame]
				begin=-150
				end=-100
				image="units/human-outlaws/grandwitch.png"
			[/frame]
			[if]
				hits=no
				[frame]
					begin=-100
					end=100
					image="units/human-outlaws/grandwitch.png"
					sound={SOUND_LIST:MISS}
				[/frame]
			[/if]
			[else]
				hits=yes
				[frame]
					begin=-100
					end=100
					image="units/human-outlaws/grandwitch.png"
					sound=dagger-swish.wav
				[/frame]

			[/else]
			{SOUND:POISON}
			[frame]
				begin=100
				end=150
				image="units/human-outlaws/grandwitch.png"
			[/frame]
		[/attack_anim]
		[attack_anim]
			[filter_attack]
				name=curse
			[/filter_attack]
			[if]
			hits=no
				[missile_frame]
					image="projectiles/shadow-blast-n-[1,2,1].png:[50*2,100]"
					image_diagonal="projectiles/shadow-blast-ne-[1,2,1].png:[50*2,100]"
					alpha=1.0~0.0:200
				[/missile_frame]
			[/if]
		[else]
			hits=yes
				[missile_frame]
					# image="projectiles/fireball-impact-[13~11].png~CROP(5,0,90,90):[50*2,100]"
					image="projectiles/shadow-blast-n-[1~3].png:[50*2,100]"
					image_diagonal="projectiles/shadow-blast-ne-[1~3].png:[50*2,100]"
				[/missile_frame]
		[/else]
		
			#missile_start_time=-200
			#[missile_frame]
			#    duration=400
			#    halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
			#[/missile_frame]
			
			start_time=-200
			[frame]
				image="units/human-outlaws/grandwitch.png:200"
			[/frame]
			[frame]
				image="units/human-outlaws/grandwitch.png:200"
				halo="halo/elven/druid-healing8.png:50,halo/elven/druid-healing7.png:50,halo/elven/druid-healing6.png:50,halo/elven/druid-healing5.png:50,halo/elven/druid-healing4.png:50,halo/elven/druid-healing3.png:50,halo/elven/druid-healing2.png:50,halo/elven/druid-healing1.png:50"
				sound=wail-sml.wav
			[/frame]
		[/attack_anim]
		[portrait]
			size=400
			side="left"
			mirror="false"
			image="portraits/outlaws/arch-witch.png"
		[/portrait]
		[portrait]
			size=400
			side="right"
			mirror="true"
			image="portraits/outlaws/arch-witch.png"
		[/portrait]
	[/female]
[/unit_type]
