#textdomain wesnoth-units
[unit_type]
    id=ROLMuhtal
    name= _ "Muhtal"
    race=khalifate
    image="units/khalifate/muhtal.png"
    hitpoints=67
    movement_type=khalifatefoot
    movement=6
    experience=220
    level=4
    alignment=chaotic
    advances_to=ROLLegacier
    cost=68
    usage=archer
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/khalifate/muhtal-defend.png" "units/khalifate/muhtal-defend.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=dagger
        description= _ "dagger"
        type=blade
        range=melee
        damage=13
        number=3
		icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=long bow
        description= _ "long bow"
        type=pierce
        range=ranged
        damage=16
        number=4
        icon=attacks/bow-elven.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khalifate/muhtal-defend.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=long bow
        [/filter_attack]

        start_time=-250
        missile_start_time=-150

        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]

        [frame]
            image="units/khalifate/muhtal.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -225}
    [/attack_anim]
[/unit_type]
